body {
	background-image: url('sliir.jpg');
}


@font-face {
	font-family: Hacked;
    src: url(HACKED/HACKED.ttf);
}


p {
	font-family: hacked, consolas, verdana, arial;
	font-size: 24pt;
	color: #000000;
}


label {
	font-family: hacked, consolas, verdana, arial;
	font-size: 24pt;
	color: #000000;
}


input{
	font-family: hacked, consolas, verdana, arial;
	font-size: 24pt;
	color: #000;
}


h1 {
	font-family: hacked, consolas, verdana, arial;
	color: #000000;
}


h2 {
	font-family: hacked, consolas, verdana, arial;
	color: #000000;
}


h3 {
	font-family: hacked, consolas, verdana, arial;
	color: #000000;
}


h4 {
	font-family: hacked, consolas, verdana, arial;
	color: #000000;
}


h5 {
	font-family: hacked, consolas, verdana, arial;
	color: #000000;
}


h6 {
	font-family: hacked, consolas, verdana, arial;
	color: #000000;
}


form {
	color: #000;
	background-color: #fb0;
}


li {
	font-family: hacked, consolas, verdana, arial;
}