{% extends "eventsmanager/wrapper.html" %}

{% block content %}
{% if user.is_authenticated %}
<center>
<table class="events-table">
    <tr>
        <th><h3>Event name</h3></th>
        <th><h3>Initial date</h3></th>
        <th><h3>Deadline</h3></th>
        <th><h3>Goal</h3></th>
    </tr>
    {% for i in events %}
    <tr>
        <td><h3>{{ i.eventName }}</h3></td>
        <td><h3>{{ i.eventInitialDate }}</h3></td>
        <td><h3>{{ i.eventDeadline }}</h3></td>
        <td><h3>{{ i.eventUserId }}</h3></td>
    </tr>
    {% endfor %}
</table>
	<p>Add your life or career goal</p>
	<form method="post" action="{% url 'events' %}">
{% csrf_token %}
{% for i in form %}
	<label>{{ i.label }}</label>
	{{ i }}
	<br>
{% endfor %}
<input type="submit" value="create event" />
<input type="hidden" name="next" value="{% url 'events' %}" />
</form>
{% else %}
    <input type="hidden" name="next" value="{% url 'login' %}" />
{% endif %}
</center>
{% endblock %}