{% extends "eventsmanager/wrapper.html" %}

{% block content %}
    {% if not user.is_authenticated %}
        <a href="{% url 'login' %}"><input type="button" value="Sign in" class="button"></a>
    {% else %}
        <div class="home-goals-list">
            <h1>{{ user.first_name }}'s nearest goals</h1>
            <table class="home-goals">
                {% for i in goals %}
                    <tr>
                        <td><h3>{{ i.goalName }}</h3></td>
                        <td><h3>{{ i.goalDeadline }}</h3></td>
                    </tr>
                {% endfor %}
            </table>
            <a href="{% url 'goals' %}">all goals</a>
        </div>
    {% endif %}
{% endblock %}